.sliderPrincipalHoda5 {
  height: 400px;
}
.sliderPrincipalHoda5 .sliderHoda5 {
  position: absolute;
  opacity: 0;
  transition: all 800ms ease-in;
  width: 100%;
}
.sliderPrincipalHoda5 .sliderHoda5.sliderHoda5Active {
  opacity: 1;
  z-index: 10;
  transition: all 2s ease-in;
}
.sliderPrincipalHoda5 .hoda5_right,
.sliderPrincipalHoda5 .hoda5_left {
  position: absolute;
  top: 50%;
  z-index: 15;
}
.sliderPrincipalHoda5 .hoda5_left {
  left: -5px;
}
.sliderPrincipalHoda5 .hoda5_right {
  right: -5px;
}

@media (max-width: 1400px) {
  .sliderPrincipalHoda5 {
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .sliderPrincipalHoda5 {
    height: 600px;
  }
}

@media (max-width: 1000px) {
  .sliderPrincipalHoda5 {
    height: 700px;
  }
}

@media (max-width: 840px) {
  .sliderPrincipalHoda5 {
    height: 380px
  }
}

@media (max-width: 600px) {
  .sliderPrincipalHoda5 {
    height: 480px
  }
}

@media (max-width: 400px) {
  .sliderPrincipalHoda5 {
    height: 520px;
  }
}

@media (max-width: 360px) {
  .sliderPrincipalHoda5 {
    height: 540px;
  }
}