<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WebGih</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Criação de site e apps" />
<meta name="keywords" content="criação de site goiânia, site goiânia, webgih, site, criar site" />
<meta name="author" content="Gisainy Crisóstomo Velasco" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="WebGih" />
<meta property="og:image" content="" />
<meta property="og:url" content="webgih.com" />
<meta property="og:site_name" content="WebGih" />
<meta property="og:description" content="Criação de website" />
<meta name="twitter:title" content="WebGih" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="webgih.com" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

  <%- partial('_partial/include-css') %>

  <!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>



