 <section id="fh5co-services" data-section="services">
  <div class="fh5co-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Nossos serviços</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext">
              <h3 class="to-animate">Saiba um pouco mais quais serviços oferecemos</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box-services">
            <i class="icon-screen-desktop to-animate-2"></i>
            <div class="fh5co-post to-animate">
              <h3>Criação de site</h3>
              <p>Criamos site ideal para sua empresa, com desing totalmente responsivo e personalizado para atender melhor a
                sua marca</p>
            </div>
          </div>
          <div class="box-services">
            <i class="icon-social-facebook to-animate-2"></i>
            <div class="fh5co-post to-animate">
              <h3>Gerenciamento de redes sociais</h3>
              <p>Atualizamos as suas redes sociais com conteúdo específico da sua empresa semanalmente</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-services">
            <i class="icon-screen-smartphone to-animate-2"></i>
            <div class="fh5co-post to-animate">
              <h3>Desenvolvimento de app</h3>
              <p>Desenvolvemos app específico para sua empresa atendendo suas necessidades</p>
            </div>
          </div>


          <div class="box-services">
            <i class="icon-cloud-download to-animate-2"></i>
            <div class="fh5co-post to-animate">
              <h3>Criação de loja virtual</h3>
              <p>Criamos a sua loja virtual para divulgação e vendas dos seus produtos</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
         <div class="col-md-8 col-md-offset-4 subtext">
          <span class="to-animate">Saiba mais informações a respeito dos planos abaixo</span>
        </div> 
      </div>
    </div>
</section> 
